/* Block Editor Styles */

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.wp-admin .editor-styles-wrapper .wp-block-button .wp-block-button__link {
	padding: 0.5em 1em;
	border-radius: 4px;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.wp-admin .editor-styles-wrapper .is-style-outline > .wp-block-button__link:not(.has-background),
.wp-admin .editor-styles-wrapper .wp-block-button__link.is-style-outline:not(.has-background) {
	border: 2px solid;
	color: #c31c31;
	background-color: transparent;
}

.wp-admin .editor-styles-wrapper .wp-block-button .wp-block-button__link:active,
.wp-admin .editor-styles-wrapper .wp-block-button .wp-block-button__link:focus,
.wp-admin .editor-styles-wrapper .wp-block-button .wp-block-button__link:hover {
	color: #fff;
	background-color: #065e88;
}

.wp-admin .editor-styles-wrapper textarea {
	width: 100%;
}

.wp-admin .editor-styles-wrapper input[type="text"],
.wp-admin .editor-styles-wrapper input[type="email"],
.wp-admin .editor-styles-wrapper input[type="url"],
.wp-admin .editor-styles-wrapper input[type="password"],
.wp-admin .editor-styles-wrapper input[type="search"],
.wp-admin .editor-styles-wrapper input[type="number"],
.wp-admin .editor-styles-wrapper input[type="tel"],
.wp-admin .editor-styles-wrapper input[type="range"],
.wp-admin .editor-styles-wrapper input[type="date"],
.wp-admin .editor-styles-wrapper input[type="month"],
.wp-admin .editor-styles-wrapper input[type="week"],
.wp-admin .editor-styles-wrapper input[type="time"],
.wp-admin .editor-styles-wrapper input[type="datetime"],
.wp-admin .editor-styles-wrapper input[type="datetime-local"],
.wp-admin .editor-styles-wrapper input[type="color"],
.wp-admin .editor-styles-wrapper textarea:not(.editor-post-title__input) {
	max-width: 100%;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #1d2731;
}

.wp-admin .editor-styles-wrapper input[type="text"]:focus,
.wp-admin .editor-styles-wrapper input[type="email"]:focus,
.wp-admin .editor-styles-wrapper input[type="url"]:focus,
.wp-admin .editor-styles-wrapper input[type="password"]:focus,
.wp-admin .editor-styles-wrapper input[type="search"]:focus,
.wp-admin .editor-styles-wrapper input[type="number"]:focus,
.wp-admin .editor-styles-wrapper input[type="tel"]:focus,
.wp-admin .editor-styles-wrapper input[type="range"]:focus,
.wp-admin .editor-styles-wrapper input[type="date"]:focus,
.wp-admin .editor-styles-wrapper input[type="month"]:focus,
.wp-admin .editor-styles-wrapper input[type="week"]:focus,
.wp-admin .editor-styles-wrapper input[type="time"]:focus,
.wp-admin .editor-styles-wrapper input[type="datetime"]:focus,
.wp-admin .editor-styles-wrapper input[type="datetime-local"]:focus,
.wp-admin .editor-styles-wrapper input[type="color"]:focus,
.wp-admin .editor-styles-wrapper textarea:focus {
	border: 1px solid #111;
	color: #111;
}

.wp-admin .editor-styles-wrapper select {
	border: 1px solid #ccc;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.wp-admin .editor-styles-wrapper {
	color: #1d2731;
	font-family: "Source Serif Pro",
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 22px;
	font-size: 1.375rem;
	line-height: 1.6;
}

.wp-admin .editor-styles-wrapper body *::-moz-selection {
	background: #fff2a8;
}

.wp-admin .editor-styles-wrapper body *::selection {
	background: #fff2a8;
}

.wp-admin .editor-styles-wrapper h1,
.wp-admin .editor-styles-wrapper h2,
.wp-admin .editor-styles-wrapper h3,
.wp-admin .editor-styles-wrapper h4,
.wp-admin .editor-styles-wrapper h5,
.wp-admin .editor-styles-wrapper h6,
.wp-admin .editor-post-title__block .editor-post-title__input {
	clear: both;
	margin: 2em 0 0.5em 0;
	color: #1d2731;
	font-family: "Libre Franklin Bold", Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	line-height: 1.25;
	word-wrap: break-word;
}

.wp-admin .editor-post-title__block .editor-post-title__input {
	font-size: 48px;
	font-size: 3rem;
}

.wp-admin .editor-styles-wrapper p {
	margin-bottom: 2em;
	word-wrap: break-word;
}

.wp-admin .editor-styles-wrapper p:first-of-type {
	margin-top: 0;
}

.wp-admin .editor-styles-wrapper dfn,
.wp-admin .editor-styles-wrapper cite,
.wp-admin .editor-styles-wrapper .wp-block-pullquote .wp-block-pullquote__citation,
.wp-admin .editor-styles-wrapper em,
.wp-admin .editor-styles-wrapper i {
	font-style: italic;
}

.wp-admin .editor-styles-wrapper .wp-block-pullquote .wp-block-pullquote__citation {
	font-size: 1em;
	text-transform: none;
}

.wp-admin .editor-styles-wrapper address {
	margin: 0 0 2em;
}

.wp-admin .editor-styles-wrapper pre {
	overflow: auto;
	margin-bottom: 2em;
	padding: 1.6em;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: #f7f8f9;
	font-size: 16px;
	font-size: 1rem;
}

.wp-admin .editor-styles-wrapper code,
.wp-admin .editor-styles-wrapper .wp-block-code textarea,
.wp-admin .editor-styles-wrapper kbd,
.wp-admin .editor-styles-wrapper tt,
.wp-admin .editor-styles-wrapper var {
	padding: 3px;
	border: 1px solid rgba(20, 21, 22, 0.3);
	color: #c31c31;
	background: #f7f8f9;
	font-size: 16px;
	font-size: 1rem;
}

.wp-admin .editor-styles-wrapper pre code {
	padding: initial;
	border: none;
}

.wp-admin .editor-styles-wrapper abbr,
.wp-admin .editor-styles-wrapper acronym {
	border-bottom: 1px dotted #666;
	text-decoration: none;
	cursor: help;
}

.wp-admin .editor-styles-wrapper mark,
.wp-admin .editor-styles-wrapper ins {
	background: #fff9c0;
	text-decoration: none;
}

.wp-admin .editor-styles-wrapper big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.wp-admin .editor-styles-wrapper hr,
.wp-admin .editor-styles-wrapper hr.wp-block-separator {
	height: 2px;
	margin: 3em auto;
}

.wp-admin .editor-styles-wrapper ul,
.wp-admin .editor-styles-wrapper ol {
	margin: 0 0 2em 0;
}

.wp-admin .editor-styles-wrapper ul {
	list-style: disc;
}

.wp-admin .editor-styles-wrapper ol {
	list-style: decimal;
}

.wp-admin .editor-styles-wrapper li {
	margin-bottom: 0.25em;
}

.wp-admin .editor-styles-wrapper li > ul,
.wp-admin .editor-styles-wrapper li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

.wp-admin .editor-styles-wrapper dt {
	font-weight: 700;
}

.wp-admin .editor-styles-wrapper dd {
	margin: 0 1.5em 2em;
}

.wp-admin .editor-styles-wrapper img {
	max-width: 100%;
	height: auto;
}

[data-type="core/image"][data-align="center"] .block-editor-block-list__block-edit figure,
[data-type="core/image"][data-align="left"] .block-editor-block-list__block-edit figure,
[data-type="core/image"][data-align="right"] .block-editor-block-list__block-edit figure {
	margin: 1em auto;
}

.wp-admin .editor-styles-wrapper figure {

	/* Extra wide images within figure tags don't overflow the content area. */
	margin: 1em auto;
}

.wp-admin .editor-styles-wrapper table {
	width: 100%;
	margin: 0 0 2em;
	border-spacing: 0;
	border-collapse: collapse;
}

.wp-admin .editor-styles-wrapper td,
.wp-admin .editor-styles-wrapper th {
	padding: 0.5em;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.wp-admin .editor-styles-wrapper a {
	border-bottom: 1px solid #065e88;
	color: #065e88;
	-webkit-box-shadow: inset 0 -2px 0 #065e88;
	box-shadow: inset 0 -2px 0 #065e88;
	text-decoration: none;
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
}

.wp-admin .editor-styles-wrapper a:visited {
	color: #065e88;
}

.wp-admin .editor-styles-wrapper a:focus {
	outline: thin dotted;
}

.wp-admin .editor-styles-wrapper a:hover,
.wp-admin .editor-styles-wrapper a:active {
	outline: 0;
}

.wp-admin .editor-styles-wrapper a:hover,
.wp-admin .editor-styles-wrapper a:focus,
.wp-admin .editor-styles-wrapper a:active {
	color: #fff;
	background-color: #065e88;
	text-decoration: none;
}

.wp-admin .editor-styles-wrapper .wp-block-image a,
.wp-admin .editor-styles-wrapper .wp-block-gallery a,
.wp-admin .editor-styles-wrapper .wp-block-image a:active,
.wp-admin .editor-styles-wrapper .wp-block-image a:focus,
.wp-admin .editor-styles-wrapper .wp-block-image a:hover,
.wp-admin .editor-styles-wrapper .wp-block-gallery a:active,
.wp-admin .editor-styles-wrapper .wp-block-gallery a:focus,
.wp-admin .editor-styles-wrapper .wp-block-gallery a:hover {
	border-bottom: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-admin .editor-styles-wrapper a:visited:hover {
	color: #fff;
	background-color: #065e88;
	text-decoration: none;
}

.wp-admin .editor-styles-wrapper .mejs-controls a.mejs-horizontal-volume-slider,
.wp-admin .editor-styles-wrapper .mejs-controls a.mejs-horizontal-volume-slider:active,
.wp-admin .editor-styles-wrapper .mejs-controls a.mejs-horizontal-volume-slider:focus,
.wp-admin .editor-styles-wrapper .mejs-controls a.mejs-horizontal-volume-slider:hover,
.wp-admin .editor-styles-wrapper .hentry .mejs-controls a.mejs-horizontal-volume-slider,
.wp-admin .editor-styles-wrapper .hentry .mejs-controls a.mejs-horizontal-volume-slider:active,
.wp-admin .editor-styles-wrapper .hentry .mejs-controls a.mejs-horizontal-volume-slider:focus,
.wp-admin .editor-styles-wrapper .hentry .mejs-controls a.mejs-horizontal-volume-slider:hover {
	border-bottom: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.wp-admin .editor-styles-wrapper .post-thumbnail,
.wp-admin .editor-styles-wrapper .wp-audio-shortcode,
.wp-admin .editor-styles-wrapper .wp-caption.aligncenter,
.wp-admin .editor-styles-wrapper > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.wp-admin .editor-styles-wrapper *[class*=inner-container] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.wp-admin .editor-styles-wrapper .default-max-width {
	margin-right: auto;
	margin-left: auto;
}

.wp-admin .editor-styles-wrapper .is-root-container > *:not([data-align="full"]):not([data-align="wide"]),
.wp-admin .editor-styles-wrapper .editor-post-title {
	width: calc(100% - 4rem);
	max-width: 45rem;
}

.wp-admin .editor-styles-wrapper [class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	width: 100%;
	max-width: 45rem;
}

/* Full */
.wp-admin .editor-styles-wrapper .alignfull {
	position: relative;
	width: 100%;
	max-width: 100vw;
	margin-top: 5rem;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
}

.wp-admin .editor-styles-wrapper [class*="__inner-container"] > .alignfull {
	max-width: 100%;
}

/* Wide */
.wp-block[data-align="wide"] {
	width: calc(100% - 4rem);
	max-width: 64rem;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-admin .editor-styles-wrapper .wp-caption {
	max-width: 100%;
	margin-bottom: 1.5em;
}

.wp-admin .editor-styles-wrapper .wp-caption img[class*="wp-image-"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-admin .editor-styles-wrapper .wp-caption .wp-caption-text,
.wp-admin .editor-styles-wrapper .wp-caption .wp-caption-dd {
	margin: 0.8075em 0;
	color: #515962;
	font-size: 0.75em;
	text-align: center;
}

.wp-admin .editor-styles-wrapper .wp-caption a,
.wp-admin .editor-styles-wrapper .wp-caption .wp-caption-dd a {
	display: inline-block;
}

/*--------------------------------------------------------------
## Block Editor Blocks
--------------------------------------------------------------*/

/* Cover Block */
.wp-admin .editor-styles-wrapper .wp-block-cover,
.wp-admin .editor-styles-wrapper .wp-block-cover-image {
	overflow: hidden;
	z-index: 0;
}

.wp-admin .editor-styles-wrapper .wp-block-cover:first-child {
	margin-top: 0;
}

.wp-admin .editor-styles-wrapper .wp-block-cover p {
	margin: 0;
}

.wp-admin .editor-styles-wrapper .wp-block-cover__inner-container a {
	color: #fff;
}

/* Dropcaps */
.wp-admin .editor-styles-wrapper .has-drop-cap::first-letter,
.wp-admin .editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
	margin: 0 0.5rem 0 0;
	padding-top: 0.5rem;
	font-family: inherit;
	font-size: 64px;
	font-size: 4rem;
	line-height: 1;
}

/* Images */
.wp-admin .editor-styles-wrapper .wp-block-image figcaption {
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
	text-align: center;
}

/* Blockquotes*/
.wp-admin .editor-styles-wrapper q,
.wp-admin .editor-styles-wrapper blockquote,
.wp-admin .editor-styles-wrapper .wp-block-quote {
	margin-bottom: 2em;
	padding-left: 1em;
	border-left: 3px solid #c31c31;
	font-size: 1.125em;
	font-style: italic;
}

.wp-admin .editor-styles-wrapper blockquote cite,
.wp-admin .editor-styles-wrapper .wp-block-quote > cite,
.wp-admin .editor-styles-wrapper .wp-block-pullquote > cite {
	display: block;
}

.wp-admin .editor-styles-wrapper blockquote.is-style-large {
	border-left: none;
}

.wp-admin .editor-styles-wrapper blockquote.is-style-large cite,
.wp-admin .editor-styles-wrapper blockquote.wp-block-quote.is-style-large cite {
	margin-bottom: 2em;
	font-size: 24px;
	font-size: 1.5rem;
	font-style: normal;
}

/* Pullquotes */
.wp-admin .editor-styles-wrapper .wp-block-pullquote {
	border-top: 2px solid #c31c31;
	border-bottom: 2px solid #c31c31;
}

.wp-admin .editor-styles-wrapper .wp-block-pullquote blockquote {
	border-left: none;
}

.wp-admin .editor-styles-wrapper .wp-block-pullquote blockquote p {
	font-size: 1.125em;
	line-height: 1.6;
}

/* Tables */
.wp-admin .editor-styles-wrapper .wp-block-table,
.wp-admin .editor-styles-wrapper .wp-block-table.aligncenter,
.wp-admin .editor-styles-wrapper .wp-block-table.alignleft,
.wp-admin .editor-styles-wrapper .wp-block-table.alignright {
	display: block;
	overflow: hidden;
	overflow-x: auto;
}

.wp-admin .editor-styles-wrapper .wp-block-table.is-style-stripes {
	border-bottom: none;
}

/* Separator */
.wp-admin .editor-styles-wrapper .wp-block-separator,
.wp-admin .editor-styles-wrapper .wp-block-separator.is-style-default {
	width: 50%;
	max-width: 50%;
}

.wp-admin .editor-styles-wrapper .wp-block-separator.is-style-wide {
	width: 100%;
	max-width: 100%;
}
